
* {
margin: 0;
box-sizing: border-box;
}

/*TITULO PRINCIPAL*/
h1 {
text-transform: uppercase;
text-align: center;
font-family: "Bungee Tint";
text-align: center;
position: relative;
bottom: 100px;
}

/*LINHA DE SEPARAÇÃO*/
hr {
margin-bottom: 5px;
border: 1px solid #A0522D;
box-shadow: 2px 2px;
}

/*TOPO*/
.cabeçalho {
width: 100%;
background-image: url(/css/gradient_1000_500.png);
background-size: 100%;
background-position: 0px -420px;
background-repeat: no-repeat;
height: 200px;
}

.logo {
width: 250px;
height: 250px;
position: relative;
left: 847px;
bottom: 40px;
}

/*CORPO*/
body {
background-repeat: no-repeat;
margin: 0;
padding: 0;
background-image: url(/css/teste9.jpeg);
background-size: 100%;
background-position: 0px 30px;
height: 100%;
width: 100%;
}

.ul {
list-style: none;
}

.lista-carrinho img {
width: 80px;
}

/*DIV PRINCIPAL*/
.imagens img {
width: 250px;
border-radius: 10px;
border: outset 2px #A0522D;
box-shadow: 5px 5px 5px 5px;
}

.container {
height: 455px;

}

.imagens {
position: relative;
right: -400px;
margin: 20px;
text-transform:uppercase;
}

.titulo3 {
margin: 10px;
}


/*RODAPÉ*/
.rodape {
background-image: url(/css/degrade-rodape.png);background-color: #A0522D;
}

.logo img {
width: 250px;
position: absolute;
left: -800px;
margin: 20px;
}
